<footer class="site-footer bg-dark">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Privacy policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Terms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Advertise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="page-contact.html">Contact</a>
      </li>
    </ul>
    <div class="copy">&copy; Bløg 2022 <br />All rights reserved</div>
  </div>
</footer>

<script src="/js/app.js"></script>

</body>
</html>
