/node_modules
/public/hot
/public_html/*.xlsx
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
.idea/*
.env.testing
public
/public_html/uploads/
/composer.lock
composer-dev.lock
/storage
auth.json
.DS_Store