<%- include('./partials/header') %>

<!-- MAIN BODY -->
<main class="main pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">

        <article class="card mb-4">
          <header class="card-header text-center">
            <h1 class="card-title">Get in Touch</h1>
          </header>
          <div class="card-body">

            <p><strong>We would love to hear from you! Feel free to reach out to us with any questions or inquiries. Your feedback is valuable to us.</strong></p>

            <p>If you have any queries about our services, partnership opportunities, or just want to say hello, don't hesitate to get in touch. We are here to help and provide you with the information you need.</p>

            <p>Our dedicated team is committed to providing prompt and helpful responses. You can expect professionalism and a personalized approach when communicating with us.</p>

            <p>Whether you prefer email, phone, or even a face-to-face meeting, we are flexible and ready to accommodate your communication preferences.</p>

            <p>Thank you for considering reaching out to us. We look forward to

            <form>
              <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="mb-3">
                <label class="form-label" for="company">Company</label>
                <input type="text" class="form-control" id="company" placeholder="Company">
              </div>
              <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email address">
              </div>
              <div class="mb-3">
                <label class="form-label" for="question">Message</label>
                <textarea class="form-control" id="message" rows="4" placeholder="Message"></textarea>
              </div>

              <button type="button" class="btn btn-success">Send</button>
            </form>

          </div>
        </article><!-- /.card -->

      </div>
    </div>
  </div>
</main>

<%- include('./partials/subscribe') %>

<%- include('./partials/newsletter') %>

<%- include('./partials/footer') %>
